.Weather {
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
    padding:16px;
    box-shadow: 5px 5px 10px rgba(4, 51, 12, 0.4);
    color: aliceblue;
    background: radial-gradient(
            506px at 50.6% 16.5%,
            rgb(183, 218, 223) 5.5%,
            rgb(154, 192, 206) 100.2%
    );
}



.Weather h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 20px 0;
}


.Weather ul {
    margin: 0px 0 20px 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    list-style: none;

}

.Weather .temperature {

    font-size: 58px;
    line-height: 64px;
    margin-left: 15px;
    font-weight: 400;


}
.Weather canvas{
    margin: 10px 0 0 10px;
}


.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}

.Weather .humidityWind {
    margin-left: 100px;
}